@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0;
}
/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    font-family: "Azeret Mono", monospace;

}
nav p{
    font-weight: bold;
    font-size: 20px;
}
nav .btn-resume{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 8px 18px 8px 18px;
    opacity: 0.8;
}
#hero{
    height: 618px;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    font-family: "Azeret Mono", monospace;
}
#hero .hero-container{
    width: 938px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
#hero .hero-container .title{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0 10px 0;
}
#hero .hero-container .hero-description{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#hero .hero-container .hero-btn{
    text-align: center;
    margin-top: 30px;  
}
#hero .hero-container .contact-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 18px 20px 18px 20px;   
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    cursor: pointer;
    
}
#hero .hero-container .contact-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* development styles  */
#card-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1071px;
    height: 1000px;
    margin: 70px auto;
    font-family: "Azeret Mono", monospace;
}

#card-section .development-title{
    width: 800px;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 70px;
}
#card-section .development-description{
    width: 800px;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}
#card-section .card-box{
    width: 889px;
    height: 315px;
    /* border: 2px solid yellow; */
    margin: 45px auto 0;  
    display: flex;
    flex-direction: column;
    gap: 30px;
    }
#card-section .card-box .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 799px;
    height: 225px;
    gap:100px;
    /* border: 2px solid yellow; */
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
#card-section .card-box .card .card-text{
    width: 447px;
    /* border: 2px solid yellow; */
}
#card-section .card-box .card .card-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
#card-section .card-box .card .card-text p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 15px 0 30px;
}
#card-section .card-box .card .card-text button{
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
}
#card-section .card-box .card .card-text button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
#card-section .card-box .card img{
    width: 243px;
    height: 203px;
    /* border: 2px solid red; */
}
#inspiration{
    width: 1071px;
    height: 728px;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
    /* border: 2px solid red; */
}
#inspiration .inspire-container h2{
    width: 800px;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin:  0 auto 22px;
    
}
#inspiration .inspire-container p{
    width: 800px;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin:  0 auto 45px;
}
#inspiration .inspire-container .video-container{
    height: 577px;
    width: 1071px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}
#inspiration .inspire-container .video-container iframe{
    border-radius: 16px;
    width: 1045px;
    height: 550px;
    margin: 12px;
}

/* footer  */
#footer-commit{
    font-family: "Azeret Mono", monospace;
    height: 94px;
    display: flex;
    justify-content: space-between; 
    background: rgba(13, 19, 33, 0.03);
    /* border: 2px solid red; */
}
#footer-commit .container{
    width: 1071px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-commit .container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
#footer-commit .container .icons img{
    margin-right: 10px;
}